/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?Inter:wght@400;500;600;700&family=Work+Sans:wght@400;500;600;700&display=swap");
/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  --font-semi: 600;
  /*===== Colores =====*/
  --first-color: #0a7279;
  --second-color: #f7931b;
  --white: #ffffff;
  /*===== Fuente y tipografia =====*/
  --body-font: "Works Sans", sans-serif;
  --Inter: "Inter";
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  --smaller-font-size: 0.75rem;
  /*===== Margenes =====*/
  --mb-2: 1rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  /*===== z index =====*/
  --z-back: -10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
    --smaller-font-size: 0.875rem;
  }
}

/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  position: relative;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--white);
  background-color: var(--first-color);
}
